.hero {
	.mainHero {
		background: linear-gradient(
				0deg,
				rgba(13, 23, 42, 0.45),
				rgba(13, 23, 42, 0.45)
			),
			url("/img/pexels-kampus-production-8475203-min.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
