// Imports
@import "../colors";

.cardGrid {
	background: url("/svg/backgroundSVG/backgroundTriangles.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.content {
		padding: 5rem 2rem;

		.item {
			padding: 3rem 2.5rem;
			background: linear-gradient(
				135deg,
				rgba(234, 25, 105, 0),
				rgba(255, 255, 255, 0)
			);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			border-radius: 20px;
			border: 1px solid rgba(255, 255, 255, 0.18);
			box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
		}

		.gridContent {
			gap: 2.5rem;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

/* Large Laptop screen (portrait 1024px) */
@media screen and (max-width: 1024px) {
	.cardGrid {
		.content {
			padding: 3.5rem 1rem;

			.gridContent {
				display: grid;
				grid-template-columns: 1fr;
			}
		}
	}
}
