// Imports
@import "../colors";

.progressBarFill {
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%;
	width: 0;
	height: inherit;
	background: $limeGreen;
	transition: all 0.16s;
}

.progressBarFillActive {
	z-index: 2;
}

// Main Content Slider
.mainPost {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: $blue;
}

.mainActive {
	top: 0;
	z-index: 1;
	transition: top 0.9s 0.4s ease-out;
}

.mainNotActive {
	top: 100%;
	z-index: 0;
	transition: top 0.75s 2s;
}

.main-post.mainActive .tag {
	width: 25%;
	transition: all 0.98s 1.9s;
}

.main-post.mainNotActive .tag {
	width: 0;
	transition: width 0.3s 0.2s;
}

.main-post.mainActive .title {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.8s 1.42s, transform 0.5s 1.4s;
}

.main-post.mainNotActive .title {
	opacity: 0;
	transform: translateY(40px);
	transition: transform 0.2s 0.35s, opacity 0.5s 0.2s;
}

.main-post.mainActive .postLink {
	opacity: 1;
	transition: opacity 0.9s 2.2s;
}

.main-post.mainNotActive .postLink {
	opacity: 0;
	transition: opacity 0.5s 0.2s;
}

// Post Grid Content
.post:hover {
	transition: none;
	transition-delay: 0s;
	background: $darkBlue;
}

.postPost {
	gap: 1rem;
	z-index: 10;
	display: grid;
	grid-row: 3 / 4;
	grid-column: 3 / 6;
	position: relative;
	grid-template-columns: repeat(3, 1fr);
}

.postActive {
	opacity: 0.95;
	transition-delay: 1s;
	background-color: #3978ff;
}

.postNotActive {
	background: #000;
	pointer-events: none;
	transition-delay: 1s;
}

.post.postActive .header {
	opacity: 1;
	transition: opacity 1.5s, transform 1.5s;
}

.post.postNotActive .header {
	opacity: 0.3;
	transition: transform 1.5s, opacity 1.5s;
}

.post.postActive .paragraph {
	opacity: 1;
	transition: opacity 1.5s, transform 1.5s;
}

.post.postNotActive .paragraph {
	opacity: 0.3;
	transition: transform 1.5s, opacity 1.5s;
}

@media screen and (max-width: 1280px) {
	.postPost {
		display: grid;
		grid-row: 3 / 4;
		grid-column: 2 / 6;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 1024px) {
	.postPost {
		display: none;
	}
}
