// Imports
@import "../colors";

.bottomSection {
	padding: 2.25rem;
	position: relative;
	text-align: center;
	background-image: url("/flex-ui-assets/elements/pattern-white.svg");
	background-position: center;

	.backgroundIcon {
		z-index: 10;

		.backgroundSvgOne {
			position: absolute;
			top: 60px;
		}
	}
}

/* Large laptop screen (portrait 1240px) */
@media screen and (max-width: 1240px) {
	.bottomSection {
		.backgroundIcon {
			.backgroundSvgOne {
				top: 120px;
				left: -140px;
			}
		}
	}
}

/* Large mobile screen (portrait 640px) */
@media screen and (max-width: 640px) {
	.bottomSection {
		padding: 1rem;

		.backgroundIcon {
			.backgroundSvgOne {
				top: 160px;
			}
		}
	}
}

/*mobile screen (portrait 430px) */
@media screen and (max-width: 430px) {
	.bottomSection {
		.backgroundIcon {
			.backgroundSvgOne {
				top: 130px;
			}
		}
	}
}

/* Extra Small mobile screen (portrait 320px) */
@media screen and (max-width: 320px) {
	.bottomSection {
		.backgroundIcon {
			.backgroundSvgOne {
				top: 300px;
			}
		}
	}
}
