// Imports
@import "../colors";

.backgroundIcon {
	z-index: -1;

	.backgroundSvgOne {
		position: absolute;
		top: 150px;
	}

	.backgroundSvgTwo {
		top: -150px;
		right: -25px;
		position: absolute;
	}
}

/* Large screen (portrait 834px) */
@media screen and (max-width: 1024px) {
	.backgroundIcon {
		.backgroundSvgOne {
			top: 210px;
			left: -50px;
		}

		.backgroundSvgTwo {
			top: -335px;
			right: -125px;
		}
	}
}

/* Small - Large mobile screen (portrait 640px) */
@media screen and (max-width: 640px) {
	.backgroundIcon {
		.backgroundSvgOne {
			top: 250px;
			width: 225px;
			height: 225px;
		}

		.backgroundSvgTwo {
			top: -250px;
			right: -110px;
			width: 175px;
			height: 175px;
		}
	}
}
