// Imports
@import "../colors";

.footerSection {
	a {
		&:hover {
			transition: all 0.1s ease-in-out;
			color: $baseColor_lightGrey;
		}
	}

	.content {
		ul {
			a {
				width: fit-content;
			}
		}

		.alreadySingedIn {
			gap: 0.5rem;
			display: flex;
			flex-direction: row;
			justify-content: left;
			align-items: center;
		}
	}
}

/* Extra Small mobile screen (portrait 320px) // Change to (max-device-width: 320px) when finished */
@media screen and (max-width: 320px) {
	.footerSection {
		.content {
			.alreadySingedIn {
				display: flex;
				margin-top: 2.5rem;
				flex-direction: column;
			}
		}
	}
}
