// Imports
@import "../fonts";
@import "../colors";

.hero,
.heroTwo {
	@apply bg-blue bg-gradient-to-t from-darkBlue;

	nav {
		ul {
			li {
				a {
					font-family: $body;
					@apply uppercase tracking-wide font-bold;
				}
			}
		}
	}
}

.heroTwo {
	.clipPath {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 6.5% 90.5%);

		@screen lg {
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 13.2% 87.3%);
		}
	}
}
