// Imports
@import "../fonts";
@import "../colors";

.hero {
	@apply bg-blue bg-gradient-to-t from-darkBlue;

	nav {
		ul {
			li {
				a {
					font-family: $fontStyle_body;
					@apply uppercase tracking-wide font-bold;
				}
			}
		}
	}
}

// Side Screen Nav
.nav {
	top: 0;
	right: 0;
	bottom: 0;
	width: 80%;
	z-index: 998;
	display: flex;
	position: fixed;
	max-width: 35rem;
	overflow: hidden;
	visibility: hidden;
	transition: all 500ms ease-in-out;
	clip-path: circle(10px at calc(100% - 65px) 65px);

	@media screen and (min-width: 1280px) {
		width: 40%;
		display: none;
	}
}

.nav {
	::-webkit-scrollbar {
		// display: none;

		width: 0.65rem;
		height: 0.65rem;
	}

	::-webkit-scrollbar-track {
		background: $darkBlue;
	}

	::-webkit-scrollbar-thumb {
		background: $blue;
		border-radius: 100px;

		&:hover {
			transition: all 0.5s;
			background-color: $lightBlue;
		}
	}
}

// Reveal Fullscreen Nav
.navReveal {
	visibility: visible;
	clip-path: circle(100%);
}

.navToggle {
	cursor: pointer;
	position: fixed;
	z-index: 999;
	right: 25px;
	top: 15px;
	padding: 1rem;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 100%;
	line-height: 0.6px;
	text-align: center;
	background-color: $blue;
	transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);

	span {
		height: 0px;
		border: 1.5px solid #fff;
		width: 22px;
		left: 14px;
		display: block;
		position: absolute;
		transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
		background: #fff;
	}

	span:nth-child(1) {
		top: 17px;
	}

	span:nth-child(2) {
		top: 25px;
	}

	span:nth-child(3) {
		top: 33px;
	}

	span:nth-child(3):before {
		opacity: 0;
		animation: ball 1.5s linear infinite;
		content: "";
		border: 2px solid #fff;
		display: block;
		position: relative;
		top: 0.25px;
	}

	&:hover {
		transition-delay: 100ms;
		transform: scale(1.1);
		background: $goldPrime;
		transition: all 500ms ease-in-out;

		span:nth-child(3):before {
			width: 2px;
			height: 2px;
			border-radius: 50%;
			background: #f26451;
		}

		span {
			border: 2px solid #fff;
			height: 9px;
			border-radius: 50%;
			margin-left: -1px;
			margin-top: 2px;
			animation: atom 300ms linear 1;
			width: 25px;
			top: 19px;
			left: 14px;
			background: transparent;
		}

		span:nth-child(1) {
			transform: rotate(-33deg);
		}

		span:nth-child(2) {
			transform: rotate(90deg);
		}

		span:nth-child(3) {
			transform: rotate(33deg);
		}

		span:nth-child(3):before {
			opacity: 1;
			transition: opacity 600ms cubic-bezier(0.61, 0.01, 0.42, 1);
		}
	}

	&:active:hover span:nth-child(3):before,
	&:active span:nth-child(3):before,
	&:active span:nth-child(2) {
		opacity: 0;
		transition: all 200ms;
	}

	&:active {
		span {
			border: 1.5px solid #fff;
			height: 0px;
			border-radius: 0%;
			margin-left: -1px;
			margin-top: 6px;
			animation: division 300ms linear 1;
			width: 25px;
			right: 25px;
			top: 15px;
		}
		span:nth-child(2) {
			width: 0px;
		}
		span:nth-child(3) {
			transform: rotate(45deg);
		}
		span:nth-child(1) {
			transform: rotate(-45deg);
		}
	}

	&:focus {
		outline: 0px;
	}
}

// Open Full Screen Nav
.navToggleOpen {
	cursor: pointer;
	position: fixed;
	z-index: 999;
	right: 20px;
	top: 20px;
	padding: 0;
	width: 50px;
	height: 50px;
	border: none;
	line-height: 0.6;
	text-align: center;
	border-radius: 100%;
	background: $goldPrime;

	span {
		height: 9px;
		border: 2px solid #fff;
		width: 25px;
		left: 14px;
		top: 19px;
		left: 14px;
		display: block;
		position: absolute;
		border-radius: 50%;
		margin-left: -1px;
		margin-top: 2px;
		transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
		background: transparent;
		animation: atom 300ms linear 1;
	}

	span:nth-child(1) {
		transform: rotate(-33deg);
	}

	span:nth-child(2) {
		transform: rotate(90deg);
	}

	span:nth-child(3) {
		transform: rotate(33deg);
	}

	span:nth-child(3):before {
		animation: ball 1.5s linear infinite;
		content: "";
		border: 2px solid #fff;
		display: block;
		position: relative;
		top: 0.25px;
		width: 2px;
		height: 2px;
		opacity: 1;
		border-radius: 50%;
		background: #f26451;
		transition: opacity 600ms cubic-bezier(0.61, 0.01, 0.42, 1);
	}

	&:hover {
		transition-delay: 100ms;
		transform: scale(1.1);
		background: $goldPrime;
		transition: all 500ms ease-in-out;

		span {
			border: 1.5px solid #fff;
			height: 9px;
			border-radius: 50%;
			margin-left: -1px;
			margin-top: 6px;
			animation: division 300ms linear 1;
			width: 25px;
			right: 25px;
			top: 15px;
		}
		span:nth-child(2) {
			width: 0px;
			display: none;
		}
		span:nth-child(3) {
			transform: rotate(45deg);
		}
		span:nth-child(1) {
			transform: rotate(-45deg);
		}
	}

	&:active:hover span:nth-child(3):before,
	&:active span:nth-child(3):before,
	&:active span:nth-child(2) {
		opacity: 0;
		transition: all 200ms;
	}

	&:active {
		span {
			border: 1.5px solid #fff;
			height: 0px;
			border-radius: 0%;
			margin-left: -1px;
			margin-top: 6px;
			animation: division 300ms linear 1;
			width: 25px;
			right: 25px;
			top: 18px;
		}
		span:nth-child(2) {
			width: 0px;
		}
		span:nth-child(3) {
			transform: rotate(45deg);
		}
		span:nth-child(1) {
			transform: rotate(-45deg);
		}
	}

	&:focus {
		outline: 0px;
	}
}

@keyframes atom {
	0% {
		transform: rotate(180deg);
	}
}

@keyframes division {
	0% {
		transform: rotate(180deg);
	}
}

@keyframes ball {
	0% {
		left: -20%;
		top: 10%;
	}
	10% {
		left: 10%;
		top: -35%;
	}
	25% {
		left: 45%;
		top: -50%;
	}
	40% {
		left: 80%;
		top: -20%;
	}
	50% {
		left: 98%;
		top: 18%;
	}
	60% {
		left: 80%;
		top: 50%;
	}
	75% {
		left: 45%;
		top: 80%;
	}
	90% {
		left: 0%;
		top: 60%;
	}
	100% {
		left: -20%;
		top: 10%;
	}
}
