// Imports
@import "../colors";

.stats {
	overflow: hidden;
	padding: 8.5rem 2rem;
	background-color: $secondary_blue;

	.backgroundIcon {
		z-index: -1;

		.backgroundSvgOne {
			position: absolute;
			top: 300px;
		}
	}
}
