/*========== BOX SHADOW ==========*/
// No Shadow
$box-shadow-0: 0em 0em 0em rgba(0, 0, 0, 0);

// Black Shadow (Medium)
$box-shadow-1: 0em 1em 0.5em rgba(0, 0, 0, 0.25);
$box-shadow-2: 0em 3em 3em 0.5em rgba(0, 0, 0, 0.25);

// Purple Glow
$box-shadow-3: 0em 1em 1em 0.25em rgba(158, 21, 250, 0.26);
$box-shadow-4: 0em 0.75em 0.5em rgba(158, 21, 250, 0.26);

// Black Shadow (Shorter)
$box-shadow-5: 0em 0.75em 0.5em rgba(0, 0, 0, 0.25);
$box-shadow-6: 0em 0.75em 0.5em rgba(0, 0, 0, 0.459);

$box-shadow-7: 0em 1em 0.5em rgba(0, 0, 0, 0.25);
$box-shadow-8: 0em 1em 3em 0.5em rgba(0, 0, 0, 0.25);

$box-shadow-8: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
$box-shadow-10: 0em 0.25em 0.5em rgba(0, 0, 0, 0.25);
