// Colours Variables
$baseColor_white: #fff;
$baseColor_black: #111;
$baseColor_lightGrey: #d5d5d5;
$baseColor_lightGrey2: #d3d3d3;
$baseColor_lightGrey3: #b3b3b3;
$baseColor_lightGrey4: #686868;
$baseColor_lightBlack: #292929;

// Background Colours
$backgroundColor_White: #fff;
$backgroundColor_black: #111;
$backgroundColor_lightBlack: #292929;

// Main Colours
$secondary_blue: #5271ff;
$secondary_yellow: #f8c630;
$secondary_orange: #f8361b;
$secondary_fadedOrange: #fab395;
$secondary_Purple: #8a59fd;
