// Colours Variables
$baseColor_white: #ffffff;
$baseColor_black: #111;
$baseColor_grey: #b3b3b3;
$baseColor_darkGrey: #8f8f8f;
$baseColor_lightGrey: #f5f5f5;
$baseColor_lightBlack: #292929;

// Main Colours
$blue: #2563eb;
$blueTwo: #3978ff;
$darkBlue: #09275e;
$babyBlue: #5ac3ff;
$lightBlue: #3d77f3;
$darkerBlue: #001e55;
$darkerBlueTwo: #001640;
$pinkRed: #e20031;
$darkPinkRed: #9a0021;
$goldPrime: #e8b042;
$goldPrimeDark: #d1a855;
$goldPrimeDarker: #b68b36;

// Dashboard Colours
$blueDash: #0072f5;
$greyDash: #9ba1a6;
$yellowDash: #f6ad37;
$blueTwoDash: #0072f5;
$pinkRedDash: #f31243;
$blackBlueDash: #000000;
$brightPinkDash: #f4256d;
$brightGreenDash: #17c964;
$blackBlueDashTwo: #131618;
