// Colours Variables
$baseColor_white: #fff;
$baseColor_black: #111;
$baseColor_Grey: #686868;
$baseColor_lightGrey: #c1c1c1;

// Main Colours
$secondary_blue: #2563eb;
$secondary_darkBlue: #0d172a;
$secondary_limeGreen: #a2e603;
