/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans&family=Sarabun:wght@200&display=swap");

// Font Stack Properties
$fontStyle_main: "Lexend Deca", cursive;
$fontStyle_body: "Rubik", sans-serif;
$fontStyle_option1: "Heebo", cursive;

// Font Sizes
$fontSize_xSmall: 0.75rem;
$fontSize_small: 0.9rem;
$fontSize_normal: 1rem;
$fontSize_medium: 1.25rem;
$fontSize_large: 1.5rem;
$fontSize_large-0: 2rem;
$fontSize_large-1: 2.5rem;
$fontSize_large-2: 3rem;
$fontSize_large-3: 3.5rem;
$fontSize_XL-large: 4rem;
$fontSize_XL-large-0: 4.5rem;
$fontSize_XL-large-1: 5rem;
