/*===== FONTS =====*/
@font-face {
	font-family: Inter;
	src: url("./fonts/Inter-VariableFont_wght.ttf");
}

@font-face {
	font-family: EvolventaRegular;
	src: url("./fonts/Evolventa-Regular-VariableFont_wght.ttf");
}

@font-face {
	font-family: EvolventaBold;
	src: url("./fonts/Evolventa-Bold-VariableFont_wght.ttf");
}

@font-face {
	font-family: SFTSchriftedSansTRIALMedium;
	src: url("./fonts/SFTSchriftedSansTRIAL-Medium-VariableFont_wght.ttf");
}

// Font Stack Properties
$fontStyle_dashboard: "Inter", sans-serif;
$fontStyle_main: "EvolventaBold", "SFTSchriftedSansTRIALMedium", "Inter",
	sans-serif;
$fontStyle_body: "SFTSchriftedSansTRIALMedium", "Inter", sans-serif;

// Font Sizes
$fontSize_xSmall: 0.75rem;
$fontSize_small: 0.8rem;
$fontSize_tiny: 0.9rem;
$fontSize_normal: 1rem;
$fontSize_medium: 1.25rem;
$fontSize_large: 1.5rem;
$fontSize_XL: 1.5rem;
$fontSize_2XL: 1.75rem;
$fontSize_3XL: 1.85rem;
$fontSize_4XL: 2rem;
$fontSize_5XL: 2.5rem;
$fontSize_6XL: 3rem;
$fontSize_7XL: 4rem;
