// Imports
@tailwind base;
@tailwind utilities;
@tailwind components;

// Imports
@import "./_fonts";
@import "./_colors";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
	width: 0.7rem;
	height: 0.7rem;
}

body::-webkit-scrollbar-track {
	background: $secondary_darkBlue;
}

body::-webkit-scrollbar-thumb {
	background: $secondary_blue;

	&:hover {
		transition: all 0.5s;
		background-color: $secondary_limeGreen;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: $fontStyle_main;
}
