// Imports
@tailwind base;
@tailwind utilities;
@tailwind components;

// Imports
@import "./_fonts";
@import "./_colors";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
	width: 0.65rem;
	height: 0.65rem;
}

body::-webkit-scrollbar-track {
	background: $darkBlue;
}

body::-webkit-scrollbar-thumb {
	background: $blue;
	border-radius: 100px;

	&:hover {
		transition: all 0.5s;
		background-color: $limeGreen;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	@apply outline-none;
	box-sizing: border-box;
	font-family: $fontStyle_main;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
input,
label,
button {
	font-family: $fontStyle_main;
}

li,
p {
	a {
		@apply text-blue transition-all ease-in-out duration-[0.5s] hover:text-yellow focus:text-yellow hover:underline;
	}
}
