// Imports
@tailwind base;
@tailwind utilities;
@tailwind components;

// Imports
@import "./_fonts";
@import "./_colors";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		transition: all 0.1s ease-in-out;
		color: $secondary_blue;
	}
}

* {
	box-sizing: border-box;
	font-family: $fontStyle_main;
}
