// Imports
@import "./_fonts";
@import "./_colors";
@import "./_boxShadow";

//  <========== LOGIN PAGE ==========>
.main {
	height: 100vh;
	display: flex;
	align-items: center;

	//  <========== LOGIN FORM ==========>
	.login {
		padding: 2.5rem;
		border-radius: 5px;
		border: #111 0.15rem solid;
		background-color: $backgroundColor_White;
		box-shadow: $box-shadow-6;

		.content {
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			.InputSection {
				.content {
					display: flex;
					flex-direction: column;

					.inputBox {
						display: flex;
						margin-top: 2rem;
						flex-direction: column;

						input {
							width: 20rem;
						}

						.submitButton {
							margin-top: 2.5rem;
						}
					}
				}
			}

			.ImageSection {
			}
		}
	}
}

/* Small - Large mobile screen (portrait 576px) // Change to (max-device-width: 320px) when finished */
@media screen and (max-width: 576px) {
}

// Devices In-between Mobile and tablets width
@media screen and (min-width: 577px) and (max-width: 767px) {
}

/* Tablet screen (portrait 768px - 1023px) // Change to (max-device-width: 768px) when finished */
@media screen and (min-width: 768px) and (max-width: 992px) {
}
